@font-face { font-family: SegoeUI; src: url('segoeui.ttf'); }

html{
	height:100%;
}

body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background-image: linear-gradient(left , rgb(226,172,119) 0%, rgb(207,217,208) 78%);
	background-image: -o-linear-gradient(left , rgb(226,172,119) 0%, rgb(207,217,208) 78%);
	background-image: -moz-linear-gradient(left , rgb(226,172,119) 0%, rgb(207,217,208) 78%);
	background-image: -webkit-linear-gradient(left , rgb(226,172,119) 0%, rgb(207,217,208) 78%);
	background-image: -ms-linear-gradient(left , rgb(226,172,119) 0%, rgb(207,217,208) 78%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0, rgb(226,172,119)),
		color-stop(0.78, rgb(207,217,208))
	);
}

input,textarea{
	outline: none;
}

.okno{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	padding:40px;
	color:#666;
	border:1px solid #AAA;
	box-shadow:0 0 37px #888;
	background-color:white;
}

.okno2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	padding:40px;
	box-shadow:0 0 37px #000;
	background-color:white;
}

.okno3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#666;
	border:1px solid #AAA;
	box-shadow:0 0 37px #888;
}

.clear{
	clear:both;
}

#zatemnitev{
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	z-index:100;
	display:none;
}

input[type=button]{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	margin:0;
	padding:10px 30px;
	border:1px solid #B20;
	background-color:#C30;
	color:white;
	cursor:pointer;
}

/************* Forma ***********************/

.forma a{
	color:#666;
	text-decoration:none;
}

.forma a:hover{
	color:#333;
}

.forma input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	border:1px solid #CCC;
}

.forma input[type=text],input[type=password]{
	width:300px;
	padding:10px;
	margin:0 0 5px 20px;
	color:#333;
}

.forma input[type=button]{
	margin-top:15px;
}

/************* Registracija ****************/

#registracija{
	position:absolute;
	margin:-300px 0 0 -250px;
	left:50%;
	top:50%;
	text-align:right;
}

#registracija img{
	margin:0 50px 20px 0;
}

#registracija div img{
	margin:0 0 0 20px;
}

#brskaj-sliko-button{
	position:relative;
	width:100px;
	height:100px;
	background-image:url('../slike/avatar.png');
}

#brskaj-sliko-button input[type='file']{
	position:absolute;
	top:0;
	left:0;
	width:100px;
	height:100px;
	opacity:0;
	z-index:2;
}

/************** Prijava ********************/

#prijava{
	position:absolute;
	margin:-200px 0 0 -250px;
	left:50%;
	top:50%;
	text-align:right;
}

#prijava img{
	margin:0 50px 20px 0;
}

/********************* Friends **********************/

#friends{
	float:left;
	width:299px;
	height:700px;
	background-color:rgba(255,255,255,0.6);
	border-right:1px solid #D7D8CA;
}

#friends-header{
	height:80px;
	padding:40px;
}

#friends-header img{
	float:left;
	width:100px;
	height:100px;
}

#friends-header div{
	float:left;
	margin-left:20px;
	width:90px;
}

#friend-list{
	font-family:"SegoeUI";
}

#friend-list div{
	text-align:center;
}

#friend-list div h1{
	font-size:26pt;
}

#friend-list ul{
	list-style:none;
	padding:0;
	margin:0 0 0 20px;
}

#friend-list ul li{
	padding:10px 20px;
	cursor:pointer;
	position:relative;
}

.selected-friend{
	margin-right:-2px;
	background-color:white;
	border:1px solid #D7D8CA;
	border-right:none;
}

#zahtevePrijateljev{
	position:absolute;
	margin:-300px 0 0 -200px;
	left:50%;
	top:50%;
}

#zahtevePrijateljev div{
	margin-top:15px;
}

#zahtevePrijateljev input[type=button]{
	margin-top:0px;
	float:right;
}

#friend-list ul li .ctxmenu{
	background-color:white;
	position:absolute;
	top:0;
	z-index:10;
	box-shadow:0 0 10px #666;
}

#friend-list ul li .ctxmenu ul{
	list-style:none;
	padding:0;
	margin:0;
}

#friend-list ul li .ctxmenu ul li{
	margin:0;
	padding:10px 20px;
	cursor:pointer;
	text-align:left;
}

#friend-list ul li .ctxmenu ul li:hover{
	background-color:#FEEFD8;
}

#posljiDatoteko{
	position:absolute;
	margin:-300px 0 0 -200px;
	left:50%;
	top:50%;
}

#posljiDatoteko img{
	margin:0 50px 20px 0;
}

#brskaj-datoteke-button{
	margin:0 auto 0 auto;
	position:relative;
	line-height:67px;
	text-align:center;
	width:200px;
	height:70px;
	background-color:#C30;
	color:white;
	box-shadow:0 0 10px #C30;
}

#brskaj-datoteke-button input[type='file']{
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:70px;
	opacity:0;
	z-index:2;
}

/********************* Chat *************************/

#top{
	width:1100px;
	margin:0 auto 20px auto;
	height:70px;
}

#top div:first-child{
	float:right;
	margin-top:20px;
}

#top a{
	text-decoration:none;
	color:#666666;
	margin-right:40px;
}

#nastavitve{
	font-size:18px;
	color:#333333;
}

#dodajPrijatelja{
	position:absolute;
	margin:-300px 0 0 -200px;
	left:50%;
	top:50%;
	text-align:right;
}

#dodajPrijatelja img{
	margin:0 50px 20px 0;
}

#chat{
	float:left;
	height:700px;
	width:800px;
	background-color:white;
}

#chat-box{
	height:470px;
	width:720px;
	padding:0 40px 0 40px;
	margin:40px 0 40px 0;
	overflow:auto;
}

#chat-box .sporocilo{
	margin-bottom:10px;
}

#chat-box div .sp_ime{
	float:left;
	width:50px;
	text-align:right;
}

#chat-box div .sp_msg{
	float:left;
	margin:0 20px 0 20px;
	width:560px;
	color:black;
}

#chat-box div .sp_cas{
	float:right;
}

#chat-input{
	height:150px;
	padding:0 40px 40px 40px;
}

#chat-input textarea{
	min-width:580px;
	min-height:90px;
	max-width:580px;
	max-height:90px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	border:1px solid #CCC;
	padding:10px;
	color:#333;
}

#chat-input input[type=button]
{
	float:right;
	margin-top:3px;
}

#content{
	padding:0;
	margin:0 auto 0 auto;
	width:1100px;
}
	